<div class="container">
        <div class="row footer-widgets">

          <!-- Start Subscribe & Social Links Widget -->
          <div class="col-md-2">
            <div class="footer-widget">
              <h4>LIMAKILO<span class="head-line"></span></h4>
              <!-- <h4><img src="img/limakilo.png" alt="Limakilo" width="100px" /></h4> -->
              <ul>
                <li>
                  <p><a href="#" style="color: #ccc;">Tentang Kami</a></p>
                </li>
                <li>
                  <a href="#" style="color: #ccc;">Kisah Petani</a>
                </li>
                <li>
                  <a href="#" style="color: #ccc;">Media Kit</a>
                </li>
              </ul>
            </div>
            <div class="footer-widget social-widget">
              <h4>Follow Us<span class="head-line"></span></h4>
              <ul class="social-icons">
                <!-- <li>
                  <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                </li> -->
                <li>
                  <a class="twitter" href="https://twitter.com/limakilo_id" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                
                <li>
                  <a class="instgram" href="https://instagram.com/limakilo.id/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                
              </ul>
            </div>
          </div>
          <!-- .col-md-3 -->
          <!-- End Subscribe & Social Links Widget -->


          <!-- Start Twitter Widget -->
          <div class="col-md-4">
            <div class="footer-widget twitter-widget">
              <h4>Kabar Terbaru<span class="head-line"></span></h4>
              <div id="twitter-news"></div>
              <ul style="display:none;">
                <li>
                  <p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.</p>
                  <span>28 February 2014</span>
                </li>
                <li>
                  <p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.An Fusce eleifend aliquet nis application.</p>
                  <span>26 February 2014</span>
                </li>
                <li>
                  <p><a href="#">@GrayGrids </a> Lorem ipsum dolor et, consectetur adipiscing eli.</p>
                  <span>28 February 2014</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- .col-md-3 -->
          <!-- End Twitter Widget -->


          <!-- Start Flickr Widget -->
          <div class="col-md-3">
            <div class="footer-widget flickr-widget">
              <h4>Galeri<span class="head-line"></span></h4>
              <div id="instafeed"></div>
            </div>
          </div>
          <!-- .col-md-3 -->
          <!-- End Flickr Widget -->


          <!-- Start Contact Widget -->
          <div class="col-md-3">
            <div class="footer-widget contact-widget">
              <h4>BANTUAN<span class="head-line"></span></h4>
              <ul>
                <li><span>No Telp :</span> +62 878 865 24 547</li>
                <!-- <li><span>Email :</span> support@limakilo.id</li> -->
                <li><span>Alamat :</span> Menara Rajawali, Level 7-1, Jl DR Ide Agung Gde Agung, Kawasan Mega Kuningan, Jakarta Selatan 12950, Indonesia</li>
              </ul>
            </div>
          </div>
          <!-- .col-md-3 -->
          <!-- End Contact Widget -->


        </div>
        <!-- .row -->

        <!-- Start Copyright -->
        <div class="copyright-section">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2015 Limakilo. All rights reserved.</p>
            </div>
            <div class="col-md-6">
              <ul class="footer-nav" style="display:none;">
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Copyright -->

      </div>